<%inherit file="layout.html"/>

<h2>Version: ${integration.version}</h2>

Source location: ${integration.source_tree_root.source_location}

Result: ${integration.result} <br/>
Owner: ${integration.owner} <br/>
Comment: <pre>${integration.comment}</pre><br/>

<span class="failed">Failed jobs</span>
<ul>
%for job in failed_jobs:
    <li class=${job.result}><a href="/job/${job.id}">${job.name}</a></li>
%endfor
</ul>

<span class="failed">Unstable jobs</span>
<ul>
%for job in unstable_jobs:
    <li class=${job.result}><a href="/job/${job.id}">${job.name}</a></li>
%endfor
</ul>

<span class="success">Success jobs</span>
<ul>
%for job in success_jobs:
    <li class=${job.result}><a href="/job/${job.id}">${job.name}</a></li>
%endfor
</ul>
