<%inherit file="layout.html"/>

<h2>Integrations</h2>

<table>
  <tr>
    <th>Version</th>
    <th>Result</th>
    <th>State</th>
    <th>Owner</th>
    <th>Commit comment</th>
  </tr>

<span>
  <div id="integration-eplased-graph" class="elapsed-graph"></div>
  <div class="elapsed-graph-label">Revision number</div>
</span>


%for intg in integrations:
  <tr class="${intg.result}_tablerow">
    <td><a href="${ url_for('integration', id=intg.id) }">${intg.version}</a></td>
    <td>${intg.result}</td>
    <td>${intg.state}</td>
    <td>${intg.owner}</td>
    <td><pre>${intg.comment}</pre></td>
  </tr>
%endfor
</table>

## add some dumb data (displayed only if no data available)
%if not integrations:
  <div id="admin_functions">
    <fieldset>
      <legend>Admin functions</legend>
      <form action="${ url_for('add_testdata') }" method="POST">
	<input type="submit" value="Create test data" />
      </form>
    </fieldset>
  </div>
%endif


<script type="text/javascript" language="javascript">
$(function () {
    var history_data = ${history}
    $.plot($("#integration-eplased-graph"),
            [{data: history_data, label: "runtime in min"}]);
    });
</script>
