<%inherit file="layout.html"/>

<h2>Job Id: ${job.id} - ${job.name}</h2>

State: ${job.state}<br/>
Result: <span class="${job.result}">${job.result}</span><br/>
Type: ${job.type}<br/>
Elapsed time: ${job.elapsed}<br/>

Job log:<br/>
<pre style="white-space: -moz-pre-wrap;">
${job.log | h}
</pre>


<div id="elapsed-graph" style="width:600px;height:300px"></div>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var data = ${history}
    $.plot($("#elapsed-graph"), [ data ]);
});
</script>

