
/* base layout */
body {
    background-color: #EFE6C9;
    font-family: Verdana;
}

h2 {
    /*color: #6E7376;*/
    color: #B2581C;
    font-weight: bold;
    font-size: 22px;
}

.logo_text {
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}

.middle {
    padding-top: 40px;
    padding-bottom: 20px;
}

.content {
    float: left;
}

.footer {
    clear: both;
    text-align: right;
    font-size: small;
    padding-right: 200px;
}
/*------------------------------*/



/* global left menu */
.left_menu {
    float: left;
    padding-right: 20px;
}
.left_menu a {
    color: #779BB1;
}
.left_menu:hover {
    color: #4E8242;
}
/*-------------------------------*/

.failed {
    color: red;
}


.success_tablerow {
    color: green;
}

.failure_tablerow {
    color: red;
}

.elapsed-graph {
	width: 600px;
	height: 300px;
}

.elapsed-graph-label {
	font-size: 14px;
	padding-top: 5px;
	text-align: center;
	width: 600px;
}td {
    padding: 0 8px;
    border-bottom:2px dashed gray;
}

div.jobs {
    padding-top: 5px;
}

div.jobs div {
    float: left;
}

div.jobs div.title {
    width: 80px;
}

div.jobs div h5 {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}

div.jobs div h6 {
    font-size: 13px;
    font-weight: normal;
    margin: 6px;
}

div.jobs div h6 a {
    text-decoration: none;
}

div.jobs div h6 a:hover {
    text-decoration: underline;
}

div.jobs div.failures h6 a {
    color: #CC6600;
}

div.jobs div.failures h6.new_failure a {
    color: red;
}

div.jobs div.clear {
    float: none;
    clear: both;
}

div.jobs div.unstables h6 a {
    color: blue;
}

div.jobs div.fixed h6 a {
    color: green;
}

pre {
    font-size: 14px;
    max-width: 1200px;
    overflow: hidden;
}

th {
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0 10px;
    text-align: left;
}

div.elapsed_time {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
